<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins'>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/d5ac12ca84.js"></script>
<link rel="stylesheet" href="{% static 'style.css' %}">
    
</head>
<body>
    <h1> Hi, there! </h1>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-8 justify-content-center">
                <h3 class="line anim-typewriter font-weight-bold">Welcome to Story 7 PPW</h3>
            </div>
        </div>
    </div>
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-8">
                <ul>
                    <li>
                        <button onclick="kebawah()" name="button1a">v</button>
                        <button onclick="keatas()" name="button1b">^</button>
                        <button class="accordion font-weight-bold" name="accordion1">
                            About Me
                        </button>
                        <div class="panel">
                            <ul>
                                <li>~ A person who likes listening to piano songs and ballads! ~</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <button onclick="kebawah()" name="button2a">v</button>
                        <button onclick="keatas()" name="button2b">^</button>
                        <button class="accordion font-weight-bold">
                            Personal Experiences
                        </button>
                        <div class="panel">
                            <ul class>
                                <li>Staff FnB Compfest 12</li>
                                <li>PJ Penunjang PMB Fasilkom 2020</li>

                            </ul>
                        </div>
                    </li>
                    <li>
                        <button onclick="kebawah()" name="button3a">v</button>
                        <button onclick="keatas()" name="button3b">^</button>
                        <button class="accordion font-weight-bold">
                            Achievements
                        </button>
                        <div class="panel">
                            <ul>
                                <li>Survived and made it to the third semester</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <button onclick="kebawah()" name="button4a">v</button>
                        <button onclick="keatas()" name="button4b">^</button>
                        <button class="accordion font-weight-bold">
                            What I did recently
                        </button>
                        <div class="panel">
                            <ul>
                                <li>Read manhwas</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="{% static 'jquery-3.5.0.min.js' %}"></script>
    <script src="{% static 'accordion.js' %}"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>